:root {
    --primary-color: #036c76;
    --secondary-color: #AFDDE5;
    --tertiary-color: #FFFD98;
    --box-shadow: 1px 2px 10px #4e4d4dd1;
}

body {
    background: var(--primary-color);
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Wittgenstein', serif;
    color: var(--tertiary-color);
}

h3,
p,
.btn {
    text-align: center;
    font-family: 'Wittgenstein', sans-serif;
}

h3,
p,
li {
    color: var(--secondary-color);
}

h1 {
    font-size: 96px;
}

h2 {
    color: var(--tertiary-color);
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 17px;
}

a {
    color: rgb(96, 231, 254);
}

img {
    width: 70%;
    border: 0.5mm solid var(--primary-color);
    border-radius: 2mm;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

nav .logo {
    max-width: 50px;
    width: 100%;
    border: none;
}

nav ul {
    margin: 0;
    padding-top: 5px;
    list-style: none;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    box-shadow: none;
}

nav a:hover {
    color: var(--tertiary-color);
    transition: all 130ms ease-in-out;
}

nav a.active {
    color: var(--tertiary-color);
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(0.4px);
    animation-duration: 75s;
}

.container {
    text-align: center;
}

.content {
    margin: 60px 50px 0;
}

.btn {
    padding: 14px 42px;
    font-size: 14px;
}

.btn-first {
    margin-top: 30px;
    color: white;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-second {
    color: var(--secondary-color);
    border: 0.2mm solid var(--primary-color);
}

.btn-third {
    margin-bottom: 20px;
    color: black;
    border: 0.2mm solid var(--secondary-color);
}

.btn-contact {
    color: white;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-first:hover,
.btn-primary:hover,
.btn-second:hover,
.btn-third:hover,
.btn-contact:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

#back_top_index {
    margin: 0;
}

.profile {
    padding: 170px 25px;
    text-align: center;
}

.profile h3 {
    color: var(--tertiary-color);
}

.homepage {
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71, 0.7);
}

.homepage .project-description {
    padding: 50px;
}

.homepage .project-description p {
    margin: 25px auto 30px;
    line-height: 30px;
}

.homepage-lower-buttons {
    margin: 15px;
}

.homepage-lower-buttons .see-all-projects {
    margin-bottom: 10px;
}

.homepage-lower-buttons .btn {
    background-color: var(--primary-color);
}

#project_page_heading {
    margin-bottom: 40px;
}

.projects-page .project {
    margin-bottom: 15px;
}

.projects-page .project a {
    box-shadow: none;
}

.projects-page .project img {
    border: 0.1mm solid var(--secondary-color);
    filter: grayscale(65%);
    transition: all 300ms ease-in-out;
}

.projects-page .project img:hover {
    filter: grayscale(0);
    box-shadow: 1px 2px 20px #00a59dea;
}

.projects-page #project-portfolio {
    filter: grayscale(0);
}

.projects-page #project-portfolio:hover {
    box-shadow: none;
}

.about-kristen {
    margin-bottom: 30px;
}

.about-kristen ul {
    margin: 15px auto 25px;
    padding: 0;
    line-height: 1.5;
}

.about-kristen li {
    margin: 5px auto;
    list-style: none;
}

.about-img {
    width: 80%;
    margin: 0 auto;
    border: 0.5mm solid var(--secondary-color);
    object-fit: cover;
}

.about-kristen .sub-heading {
    font-size: 20px;
}

.contact-page-content {
    margin: 5px 50px;
    padding: 15px 10px;
}

.contact-page-content h2 {
    font-size: 28px;
}

.contact-page-content .email {
    font-size: 20px;
    color: white;
}

.email:hover {
    color: var(--tertiary-color);
}

.footer-style {
    padding: 45px 95px;
    background: rgb(175, 221, 229, 0.39);
    border-radius: 2mm;
}

footer .contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .contact-box p {
    margin-bottom: 0;
}

footer .email-box {
    margin: 5px 50px;
    padding: 15px 10px;
}

footer .email-box h2 {
    font-size: 24px;
}

footer .email {
    display: block;
    color: white;
    box-shadow: none;
    font-size: 20px;
    text-decoration: none;
    overflow-wrap: break-word;
    font-family: 'Wittgenstein', sans-serif;
}

footer p {
    font-size: 14px;
}

footer .social-links {
    margin: 10px auto 25px;
}

footer .social-links a {
    padding: 5px 10px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 50%;
    font-size: 24px;
}

footer .social-links a:hover {
    color: var(--tertiary-color);
    background: var(--secondary-color);
}

@media (max-width: 1390px) {
    h1 {
        font-size: 76px;
    }

    h2 {
        font-size: 40px;
    }

    .container {
        max-width: 85%;
    }

    .profile h3 {
        font-size: 22px;
    }

    .profile {
        padding-top: 150px;
        padding-bottom: 85px;
    }

    .content {
        margin: 35px auto 0;
    }

    .content img {
        max-width: 400px;
    }

    .content .btn {
        margin: 0 auto 40px;
    }

    .homepage .project-description {
        margin: 0;
        padding: 5px;
    }

    .homepage .project-description p {
        margin-top: 0;
    }

    #project_page_heading {
        margin-bottom: 27px;
    }

    .projects-page .project img {
        filter: none;
        transition: none;
    }

    .projects-page .project img:hover {
        filter: none;
        box-shadow: none;
    }

    .about-kristen .sub-heading {
        font-size: 19px;
    }

    footer .email-box {
        margin-top: 35px;
    }
}

@media (max-width: 991px) {
    .about-kristen {
        margin-bottom: 25px;
    }

    footer .email-box {
        margin-top: 0;
    }
}

@media (max-width: 791px) {
    nav ul li {
        padding: 10px;
    }

    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 22px;
    }

    nav {
        margin: 10px 50px;
    }

    nav li {
        padding: 5px;
        font-size: 14px;
    }

    .container {
        margin: 0 auto;
    }

    .profile {
        padding: 120px 25px 85px;
    }

    .content {
        margin: 35px auto 0;
    }

    .btn {
        padding: 12px 30px;
        font-size: 13px;
    }

    .homepage .project-description p {
        margin-top: 0;
    }

    .homepage-lower-buttons {
        margin-bottom: 12px;
    }

    #project_page_heading {
        margin-bottom: 20px;
    }

    .contact-page-content {
        padding: 30px 0;
    }
}

@media (max-width: 516px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 18px;
    }

    nav {
        margin: 15px;
        padding: 0;
    }

    nav li {
        padding: 3px;
    }

    .container {
        max-width: 93%;
    }

    .profile {
        padding: 90px 25px 65px;
    }

    .content h1 {
        font-size: 46px;
    }

    .homepage {
        padding: 28px 20px;
    }

    .homepage .project-description h2 {
        line-height: 1.25;
    }

    .homepage .project-description p {
        margin-top: 0;
    }

    .about-kristen .sub-heading {
        font-size: 18px;
    }

    .contact-page-content {
        padding: 30px 0;
    }

    .contact-page-content h2 {
        font-size: 20px;
    }

    .contact-page-content .email {
        overflow-wrap: break-word;
    }

    footer .email-box h2 {
        font-size: 20px;
    }

    footer .email {
        font-size: 15px;
    }
}

@media (max-width: 381px) {
    nav ul li {
        padding: 4.1px;
    }

    .profile {
        padding: 80px 25px 65px;
    }

}
