:root {
    --primary-color: #004643;
    --secondary-color: #D1AC00;
    --tertiary-color: #FAF4D3;
}

body {
    background: var(--primary-color);
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Sorts Mill Goudy', serif;
} 

h1, h3, p, li {
    color: var(--tertiary-color);
}

h1 {
    font-size: 96px;
}

h2 {
    color: #F6BE9A;
    font-size: 42px;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Inter Tight', sans-serif;
}

img {
    width: 85%;
    margin: auto;
    border: 2mm solid var(--tertiary-color);
    border-radius: 2mm;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

a {
    box-shadow: 1px 2px 10px #4e4d4dd1;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

nav .logo {
    max-width: 50px;
    width: 100%;
    border: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a {
    color: var(--tertiary-color);
    text-decoration: none;
    box-shadow: none;
}

nav a:hover {
    color: var(--secondary-color);
    transition: all 130ms ease-in-out;
}

nav a.active {
    color: var(--secondary-color);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    padding: 14px 42px;
    font-size: 16px;
}    

.content {
    margin: 60px auto 0;
}

.content ul {
    margin: 15px auto 25px;
    line-height: 1.5;
}

.content li {
    margin: 5px auto;
    list-style: none;
}

.content .btn {
    margin: 0;
}

.btn-first {
    margin-top: 30px;
    background: var(--primary-color);
    border-color: var(--primary-color);
}    

.btn-second {
    color: var(--tertiary-color);
    border: 0.2mm solid var(--tertiary-color);
}

.btn-third {
    background: #D1AC00;
    color: black;
    border: 0.2mm solid var(--secondary-color);
}

.btn-first:hover, .btn-second:hover, .btn-third:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.profile {
    padding: 170px 25px;
    background: var(--tertiary-color);
    text-align: center;
}

.profile h1, .profile h2, .profile h3 {
    color: black;
}

#mid-banner {
    padding: 18px;
    margin-bottom: 50px;
    font-size: 16px;
}

.project {
    margin-bottom: 15px;
}

.project img {
    filter: grayscale(65%);
    transition: all 300ms ease-in-out;
}

.project img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.project-description {
    padding: 50px;
}

.project-description p {
    margin: 20px auto 30px;
    line-height: 30px;
}

.about-img {
    object-fit: cover;
    width: 80%;
    margin: 0 auto;
}

.content .contact-content {
    margin: 5px 50px;
    padding: 15px 10px;
}

.footer-style {
    margin: 20px 0;
    padding: 45px 95px;
    background: #007a7496;
    border-radius: 2mm;
}

footer .contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .contact-box p {
    margin-bottom: 0;
}

footer .email-box {
    margin: 5px 50px;
    padding: 15px 10px;
}

footer .email-box h2 {
    font-size: 24px;
}

footer .email {
    display: block;
    color: var(--tertiary-color);
    box-shadow: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

footer .email:hover {
    color: var(--secondary-color);
}

footer .social-links {
    margin: 10px auto 25px;
}

footer .social-links a {
    padding: 5px 10px;
    background: #007a7496;
    color: var(--secondary-color);
    border-radius: 50%;
    font-size: 24px;
}

footer .social-links a:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

@media (max-width: 991px) { 
    h1 {
        font-size: 76px;
    }

    h2 {
        font-size: 40px;
    }

    .container {
        max-width: 85%;
    }

    .profile h3 {
        font-size: 22px;
    }

    .profile {
        padding-top: 150px;
        padding-bottom: 85px;
    }
    
    .content {
        margin-top: 35px;
    }
    
    .content img {
        max-width: 400px;
    }
    
    .content .btn {
        margin: 0 auto 40px;
    }

    .project-description {
        margin: 0;
        padding: 5px;
    }

    .project-description p {
        margin-top: 0;
    }  

    .project img {
        filter: none;
        transition: none;
    }
    
    .project img:hover {
        filter: none;
        transform: none;
    }
}

@media (max-width: 791px) {
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 22px;
    }

    nav {
        margin: 10px 50px;
    }

    nav li {
        padding: 5px;
        font-size: 14px;
    }
    
    .container {
        margin: 0 auto;
    }
    
    .profile {
        padding: 120px 25px 85px;
    }

    .content {
        margin: 35px auto 20px;
    }    
    
    .btn {
        padding: 12px 30px;
        font-size: 16px;
    }

    #mid-banner {
        margin-bottom: 25px;
    }

    .project-description p {
        margin-top: 0;
    }
         
    .image-source {
        font-size: 12px;
    }
    
}

@media (max-width: 516px) {
    h1 { 
        font-size: 56px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    h3 {
        font-size: 18px;
    }

    nav {
        margin: 15px;
        padding: 0;
    }

    nav li {
        padding: 3px;
    }
    
    .profile {
        padding: 90px 25px 65px;
    }
    
    .content h1 {
        font-size: 46px;
    }
    
    #mid-banner {
        margin-bottom: 5px;
        background-color: transparent;
        font-size: 16px;
    }
   
    .project-description h2 {
        line-height: 1.25;
    }

    .project-description p {
        margin-top: 0;
    }
        
    .image-source {
        font-size: 11px;
    }

    footer .email-box h2 {
        font-size: 20px;
    }

    footer .email {
        overflow-wrap: break-word;
        font-size: 15px;
    }
    
}