:root {
    --primary-color: #004643;
    --secondary-color: #D1AC00;
    --tertiary-color: #FAF4D3;
}

h1, h2 {
    font-weight: bold;
    font-family: 'Bitter', serif;
} 

h1 {
    font-size: 96px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

img {
    width: 100%;
    margin: auto;
    border: 2mm solid var(--tertiary-color);
    border-radius: 4mm;
}

p {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.content-container {
    margin: 95px auto 40px;
}

.nav-object {
    margin: 0 15px;
}

.content {
    margin: 55px auto 0;
}

.content h1 {
    font-size: 55px;
    line-height: 1.25;
}

.content h3 {
    font-size: 18px;
}

.content ul {
    margin: 15px auto 25px;
    font-size: 18px;
    line-height: 1.5;
}

.content li {
    margin: 5px auto;
}

.content p {
    text-align: justify;
}

.content .btn {
    margin: 0;
}

.btn {
    padding: 14px 42px;
    font-size: 16px;
}    

.btn-first {
    margin-top: 30px;
    background: var(--primary-color);
    border-color: var(--primary-color);
}    

.btn-second {
    color: var(--primary-color);
    border: 0.2mm solid var(--primary-color);
}

.btn-first:hover, .btn-second:hover {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.profile {
    padding: 170px 25px;
    background: var(--tertiary-color);
    text-align: center;
}

.mid-banner {
    margin-bottom: 50px;
    background-color: #f7f6f675;
    font-size: 18px;
}

.project {
    margin-bottom: 15px;
}

.project-description {
    padding: 50px;
}

.project-description p {
    margin: 20px auto 30px;
    line-height: 30px;
}

@media (max-width: 991px) {
    .container {
        text-align: center;
    }
    
    .container, .content-container {
        max-width: 65%;
    }

    .project-description {
        margin: 0;
        padding: 18px;
    }

    .content {
        margin: 0;
    }

    .content img {
        max-width: 400px;
    }

    .content .btn {
        margin: 0 auto 40px;
    }
}

@media (max-width: 791px) {
    .profile {
        padding: 120px 25px 85px;
    }

    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 22px;
    }

    .container {
        margin: 0 auto;
    }

    .content-container {
        max-width: 85%;
    }

    .content {
        margin: 80px auto 60px;
    }

    .btn {
        padding: 12px 30px;
        font-size: 16px;
    }

    .mid-banner {
        margin-bottom: 25px;
    }

    .project-description {
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 516px) {
    h1 { 
        font-size: 56px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 18px;
    }

    .content {
        margin-bottom: 20px;
    }
    
    .content h1 {
        font-size: 46px;
    }
    
    .content {
        text-align: center;
    }
    
    .content p {
        text-align: center;
    }
    
    .profile {
        padding-bottom: 60px;
    }
    
    .mid-banner {
        margin-bottom: 5px;
        background-color: transparent;
        font-size: 16px;
    }
    
    .project-description {
        margin: 0;
        padding: 8px;
    }
    
    .project-description h2 {
        line-height: 1.25;
    }
}